matplotlib
numpy
pandas
opencv-python-headless  # avoids GUI-related libGL.so.1 issues
torch
Pillow
transformers
mtcnn
streamlit
streamlit-webrtc
av
Pillow
watchdog
deepface
keras==2.11.0
tensorflow==2.11.0
